## Preamble

In [1]:
#### Imports
from files.data import raw_data
from files.teams import all_teams
from modules.Data import Data

In [2]:
data = Data(raw_data)
data.filter('qt').generate_teleopGrid()

## Compare

In [3]:
teams = [5924, 1967, 8852] # put the teams you want to compare here (separate with a comma)
field = 'Avg Teleop Points Scored' # put the field you want to sort in descending order

# * `field` Options:
# 'Avg Mobility Rate'
# 'Avg Docked Rate (Auto)'
# 'Avg Engaged Rate (Auto)'
# 'Avg Auto Points Scored'
# 'Avg Teleop Points Scored'
# 'Avg Docked Rate (Endgame)'
# 'Avg Endgame Rate (Endgame)'

In [4]:
data.compare_teams(teams).sort(field)

,Team,Mobility %,Avg Docked (Auto) %,Engaged (Auto) %,Avg Auto Points Scored,Avg Teleop Points Scored,Docked (Endgame) %,Endgame (Endgame) %
1,1967,54.55,72.73,72.73,3.09,12.18,81.82,81.82
2,8852,87.50,0.00,0.00,6.00,8.00,37.50,37.50
0,5924,37.50,62.50,62.50,3.00,3.62,50.00,50.00