In [1]:
from modules.data import raw_data
from packages.Analyzer.match import Match

In [2]:
match_pu = Match(raw_data)
match = 46

In [3]:
match_pu.blue_alliance(match)

   Metadata                      Auto                Score (Auto)          \
         iD  Team Attendance Mobility Docked Engaged          Top Mid Bot
1  Aidan L.  5924        Yes      Yes     No      No            0   0   0
2  Aidan L.   114        Yes      Yes     No      No            1   0   1
3  Aidan L.  5419        Yes      Yes    Yes     Yes            0   0   0

  Score (Teleop)         Teleop                                               \
             Top Mid Bot  Links Pieces Dropped       Status Defense Sabotage
1              0   0   2      5              0  Operational     N/A       No
2              2   2   2      5              0  Operational     N/A       No
3              0   3   4      5              0  Operational     N/A       No

  Endgame                 Misc
   Parked Docked Engaged Notes
1     Yes     No      No
2      No    Yes     Yes
3      No    Yes     Yes

In [4]:
match_pu.red_alliance(match)

   Metadata                      Auto                Score (Auto)          \
         iD  Team Attendance Mobility Docked Engaged          Top Mid Bot
1  Aidan L.  4186        Yes       No     No      No            0   0   0
2  Aidan L.  8169        Yes      Yes     No      No            1   0   0
3  Aidan L.  6962        Yes       No    Yes     Yes            0   0   1

  Score (Teleop)         Teleop                                               \
             Top Mid Bot  Links Pieces Dropped       Status Defense Sabotage
1              0   0   1      0              0     Immobile     N/A       No
2              2   0   2      0              1  Operational     N/A       No
3              0   0   1      0              0  Operational       1       No

  Endgame                 Misc
   Parked Docked Engaged Notes
1      No     No      No
2      No    Yes     Yes
3      No    Yes     Yes